<div id="wrapper">

  <form id="paper" method="get" action="" #contactForm="ngForm">
    <p>გაუშვი ცის ლაჟვარდებზე შენი ფიქრები</p>
    <textarea placeholder="ჰმმ..." type="text" id="fullName" name="fullName" [(ngModel)]="cislajvardebistvis" required
      id="text" name="text" rows="4"
      style="overflow-y: auto; word-wrap: break-word; resize: none; height: 160px; "></textarea>
    <br>
    <!-- <button type="submit" id="button" [disabled]="!contactForm.valid">Send</button> -->
    <img (click)="sendMail()" src="../../assets/images/clouds.png" alt="" width="100" height="70" class="player-image"
      style="cursor: pointer;">

  </form>

</div>